.filtre_style{
margin: 0;
padding-left: 40px;
}

.filtre_icon{
    position: absolute;
    margin: 15px 0px 0px 30px;
    padding: 18px;
    
    border-radius: 30px;
    color: #0065fc;
    background-color: #DEEBFF;
}

.filtre_flex{
    margin: 0% 10% 0% 10%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    flex-wrap: wrap;
    font-size: 21px;
    font-weight: bold;
}
.filtre_container:nth-child(1){
    width: 90%;
}
.filtre_box{
    display: flex;
    justify-content: baseline;
    align-items: center;   
    padding:15px 15px 15px 26px;
    margin: 15px 30px 15px 30px;
    border: solid #f2f2f2 2px;
    border-radius: 30px 30px 30px 30px;  
}

.filtre_box:hover{
    transition: 0.3s;
background-color: #0065fc;
color: white;
cursor: pointer;
}
.info{
    margin-left: 10%;
}
.fa-info{
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    color: #0065fc;
    border: solid #f2f2f2 2px;
    border-radius: 50%;
}
