/* CSS FOR GENERAL THING LIKE BOX SIZING OR TITLE STYLE*/


*{box-sizing: border-box;}

h2{
    font-size: 21px;
    }
.h2marge{
    margin: 30px;    
    padding-top: 30px;
}

h3{
    margin:5px 0px 0px 5px;
}

/* USE FOR BOLD PRICE ON CARD */
span{
    font-weight: bold;
}

body{
font-size: 15px;
font-family: 'Raleway', sans-serif;
width: 100%;
}

