.article_activite{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.article_activite h2{
    width: 100%;
}
/* DISPOTION OF THE TWO CONTAINER */
.container_activite{
    display:flex;
    width: 50%;
}
/* ALL THE CONTAINERS HAVE THE SAME HEIGHT */
.container_cardActivite{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
    margin: 0px 40px 0px 0px;
}

/* THE CARD AND THE IMG SIZE ARE DIFFERENT FOR KEEP A SPACE FOR THE TITLE SO ALL CARD NEED AN IMG AND CARD STYLE DIFFERENT */
.card_activiteXlarge{
    border-radius: 20px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.3);
    margin: 0px 0px 20px 0px;
    height: 380px;
}
.card_activiteLarge{
    border-radius: 20px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.3);
    margin: 0px 0px 20px 0px;
    height: 200px;
}
.card_activiteMedium{
    border-radius: 20px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.3);
    margin: 0px 0px 20px 0px;
    height: 180px;
}
.card_activiteSmall{
    border-radius: 20px;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.3);
    margin: 0px 0px 20px 0px;
    height: 160px;
}

.img_activiteXlarge{
    object-fit:cover;
    width: 100%;
    height:330px;
    border-radius: 20px 20px 0px 0px;
}
.img_activiteLarge{
    object-fit:cover;
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
}
.img_activiteMedium{
    object-fit:cover;
    width: 100%;
    height: 130px;
    border-radius: 20px 20px 0px 0px;
}
.img_activiteSmall{
    object-fit:cover;
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0px 0px;
}

.card_name{
    display:flex;
    align-items: center;
    margin:10px 0px 10px 20px ;
}

.container_cardActivite a {text-decoration:none ;}