.filtre_style{
margin: 0;
padding-left: 40px;
}
/*ALL ICON OF THE FILTRE STYLE BACKGROUND AND COLOR*/
.filtre_icon{
    position: absolute;
    margin: 30px 0px 0px 30px;
    padding: 11px;  
    border-radius: 20px;
    color: #0065fc;
    background-color: #DEEBFF;
}

.filtre_flex{
font-weight: bold;
}

/*STYLE OF THE FILTRE*/
.filtre_box{
    display: flex;
    align-items: center;  
    padding:8px 10px 8px 0px;
    margin: 30px;
    border: solid #f2f2f2 2px;
    border-radius: 20px 20px 20px 20px;  
}


/*ANIMATION HOVER FILTRE*/
.filtre_box:hover{
    transition: 0.3s;
background-color: #0065fc;
color: white;
cursor: pointer;
}
.fa-info{
    padding: 5px 10px 5px 10px;
    margin-right: 10px;
    color: #0065fc;
    border: solid #f2f2f2 2px;
    border-radius: 50%;
}
